        table {
            width: 100%;
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
        th,
        td {
            border: 1px solid black;
            padding: 17px;
        }
        thead {
            background-color: lightgray;
        }
        .pr {
            background-color: lightblue;
        }
        .en {
            background-color: lightyellow;
        }
        .ws {
            background-color: green;
        }
        .ma {
            background-color: lightpink;
        }
        .ti {
            background-color: lightgreen;
        }
        .de {
            background-color: lightcyan;
        }
        .ba {
            background-color: orange;
        }
        .kn {
            background-color: lightseagreen;
        }
        .ia {
            background-color: burlywood;
        }
        .db {
            background-color: rosybrown;
        }
         a:link, a:visited{
            color: black;
        }
